//grid
$xs: 320px;
$md: 768px;
$xl: 1150px;

//accent colors
$accent-dark: #1467a4;
$accent: rgb(79, 184, 111);
$accent-light: #0697d4;
$text-color: #54617b;
$text-light: #fadce6;
$contrast: #c1bb63;
